@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1900px!important;
  margin: 0 auto;
  background-color: white;
  font-size: 0.9em;
  font-family: "Roboto", Verdana, Trebuchet, sans-serif;
}

h1 {
  font-size: 3.6em;
  margin: 0;
}

h2 {
  font-size: 2.4em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
}

.btn {
  margin: 80px auto;
  padding: 20px 15px;
  border-radius: 60px;
  width: 50%;
  height: 4.8vh;
  text-align: center;
  box-shadow: 2px 4px 8px 3px #dddddd;
  text-decoration: none;
  color: white;
  font-size: 2.6em;
  background: linear-gradient(to bottom right, #FF79DA 5%, #9356DC);
}
.btn__a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  vertical-align: -webkit-baseline-middle;
}

.restaurants__cards {
  width: 90%;
  background: white;
  border-radius: 30px;
  box-shadow: 2px 4px 8px 3px #d1d1d1;
  margin: 40px auto;
  position: relative;
}
.restaurants__cards__link {
  text-decoration: none;
}
.restaurants__cards__img {
  width: 100%;
  height: 25vh;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
}
.restaurants__cards__infos {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 30px;
}
.restaurants__cards__infos h3, .restaurant__cards__infos p {
  font-size: 2.6rem;
  margin: 0;
}
.restaurants__cards__infos p {
  margin-top: 15px;
  font-weight: lighter;
}
.restaurants__cards__infos i {
  font-size: 4em;
  font-weight: lighter;
}

form input {
  background-color: #eaeaea;
  width: 100%;
  height: 7vh;
  border: none;
  text-align: center;
  font-size: 40px;
  box-shadow: inset 0px 5px 9px -6px #a8a5a8;
}

.footer {
  background: #313132;
  padding-bottom: 20px;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  color: #dddddd;
  font-size: 1.3em;
  padding: 40px;
  margin-top: 0;
}
.footer__menu {
  list-style-type: none;
  padding-left: 40px;
  font-family: "Roboto", Verdana, Trebuchet, sans-serif;
  font-weight: bold;
}
.footer__menu a {
  text-decoration: none;
  color: #d1d1d1;
}
.footer__menu a:hover {
  color: #9356DC;
}
.footer__menu li {
  margin-bottom: 30px;
}
.footer__icon {
  margin-right: 30px;
  width: 3%;
  color: #dddddd;
}

header {
  text-align: center;
  box-shadow: 2px 4px 8px 3px #dddddd;
}
header img {
  width: 45%;
  padding: 35px;
}

.teasing {
  padding-bottom: 25px;
  text-align: center;
  background-color: #f6f6f6;
}
.teasing__heading {
  padding: 100px 140px 30px 140px;
}
.teasing__byline {
  font-weight: 300;
  color: #807c7c;
}

.nav {
  margin: 0 auto;
}
.nav h2 {
  margin: 100px 0 50px 80px;
}
.nav__infos {
  background-color: #F5F5F6;
  width: 80%;
  height: 9vh;
  border-radius: 50px;
  box-shadow: 2px 4px 8px 3px #e4e4e7;
  margin: 50px auto;
  font-size: 1.1em;
  position: relative;
}
.nav__infos:hover {
  cursor: pointer;
  background-color: rgba(147, 86, 220, 0.15);
}
.nav__infos:hover i {
  color: #9356DC;
}
.nav__infos p {
  position: absolute;
  top: 30px;
  left: -22px;
  background: #9356DC;
  padding: 8px 15px;
  border-radius: 50%;
  font-size: 1.8em;
  color: #FFF;
}
.nav__infos i {
  margin: 60px 60px 60px 100px;
  color: #8a8a95;
  font-size: 2.6em;
}
.nav__infos a {
  font-size: 2.4em;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.restaurants {
  background-color: #eaeaea;
}
.restaurants h2 {
  padding: 130px 40px 30px 40px;
}
.restaurants__choice {
  padding-bottom: 100px;
}

/*# sourceMappingURL=main.css.map */
