@import "../utils/mixins";
@import "../utils/variables";

.restaurants__cards{
  @include respond-to(desktop){
    margin: 30px;
  }
  @include respond-to(tablet){
    width: 40%;
  }
  width: 90%;
  background: white;
  border-radius: 20px;
  @include box-shadow($color-back-dark);
  margin: 20px auto;
  position: relative;
  &__link{
    text-decoration: none
  }
  &__img {
    width: 100%;
    height: 26vh;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__infos{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 15px;
    h3, p{
      font-size: 1.4rem;
      margin: 0;
    }
    p{
      font-size: 1.3rem;
      margin-top: 5px;
      font-weight: lighter;
      color: darken(grey, 35%);
    }
    i{
      font-size: 2rem;
      font-weight: normal;
    }
  }
  &__new{
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: $tertiary-green;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    color: darken($tertiary-green, 35%);
  }
}
