@import "../utils/mixins";
@import "../utils/variables";

.heart {
  position: relative;
  font-size: 1.4em;
  &:hover {
    cursor: pointer;
    color: white;
    font-weight: 900;
    & .heart__anim {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 1;
      font-weight: 900;
      transform: scale(1);
    }
  }

  &__anim {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient($secondary-pink, $primary-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms 100ms;
  }
}


