@import "../utils/mixins";

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
  font-size: 0.9em;
  @include text;
}

h1{
  margin: 0;
}
