@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@mixin text {
  font-family: "Roboto", Verdana, Trebuchet, sans-serif;
}

@mixin text2 {
  font-family: "Open Sans", "Roboto", Verdana, sans-serif;
}

@mixin box-shadow($color) {
  box-shadow: 2px 4px 8px 3px darken($color, 10%);
}

@mixin inset-box-shadow() {
  box-shadow: inset 0 5px 9px -6px rgba(168,165,168,1);
}

@mixin button($width, $text-color, $margin, $font-size, $box-shadow-color){
  margin: $margin auto;
  padding: 20px 10px;
  border-radius: 60px;
  width: $width;
  text-align: center;
  @include box-shadow($box-shadow-color);
  text-decoration: none;
  color: $text-color;
  font-size: $font-size;
}

@mixin respond-to($media) {
  @if $media == desktop {
    @media only screen and (min-width: 1200px ) and (max-width: 1900px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 700px) and (max-width: 1200px) { @content; }
  }
  @else if $media == smartphone {
    @media only screen and (min-width: 380px) and (max-width: 700px) { @content; }
  }
  @else if $media == smartphoneXs {
    @media only screen and (min-width: 100px) and (max-width: 380px) { @content; }
  }
}
