@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$font-title: 'Shrikhand', cursive;

$primary-purple: #9356DC;
$secondary-pink: #FF79DA;
$tertiary-green: #99E2D0;
$color-back-light: #f5f4f4;
$color-back-dark: #eaeaea;
$color-footer: #313132;
